html, body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 500px;
    width: 500px;
}

.main-container {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 100%;
}

#name {
    all: unset;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
    font-size: 20px;
}